@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --radius: 0.25rem;
}

/* Light mode */
:root.light {
  --primary-color: #007bff;
  --on-primary-color: #fff;
  --secondary-color: #4a5157;
  --on-secondary-color: #fff;
  --on-secondary-light: #ffffffaa;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
}

/* Dark mode */
:root {
  --primary-color: #0d6efd;
  --on-primary-color: #fff;
  --secondary-color: #4a5157;
  --success-color: #198754;
  --info-color: #0dcaf0;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #212529;
  --dark-color: #f8f9fa;
  --link-color: #0d6efd;
  --link-hover-color: #0056b3;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: var(--light-color);
  padding: 0.5rem;
  width: 20rem;
}

h1 {
  font-size: 1.1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
  resize: vertical;
  border-radius: var(--radius);
  padding: 0.5rem;
}

input::placeholder {
  color: var(--on-secondary-light);
}

button {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  padding: 0.5rem;
  cursor: pointer;
  border-radius: var(--radius);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.danger {
  background-color: #dc3545;
}

.flex {
  display: flex;
}

.gap {
  gap: 0.5rem;
}

.list {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
